<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h2>Dashboard</h2>
<ul>
    <li><a href="/menu-management">Menu Management</a></li>
    <li><a href="/order-processing">Order Processing</a></li>
    <li><a href="/table-management">Table Management</a></li>
    <li><a href="/inventory-management">Inventory Management</a></li>
    <li><a href="/sales-report">Sales Report</a></li>
</ul>
</body>
</html>
